<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="/assets/manifest.json">
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    <div id="root"></div>
<script src="/externals/react.development.js"></script>
<script src="/externals/react-dom.development.js"></script>
<script src="/externals/react-redux.js"></script>
<script src="/externals/axios.min.js"></script>
</body>

</html>