body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

h1, h2, h3 {
    margin: 10px 0;
}

a {
    color: #0099FF;
}

a:hover {
    color: #000;
}

a:visited {
    color: #551A8B;
}

.grid-container {
    display: grid;
    margin: 10px 0;
    grid-template-columns: 1fr;
    grid-row-gap: 0.3em;
    grid-auto-rows: minmax(30px, auto);
    grid-template-areas: "caption" "filters" "data" "details";
}

@media (min-width: 501px) {
    .grid-container {
        display: grid;
        margin: 10px 0;
        grid-template-columns: 0.6fr 0.4fr;
        grid-gap: 0.5em;
        grid-auto-rows: minmax(30px, auto);
        grid-template-areas: "caption caption" "filters details" "data details";
    }
}

@media (min-width: 801px) {
    .grid-container {
        display: grid;
        margin: 10px 0;
        grid-template-columns: 0.5fr 0.3fr;
        grid-gap: 0.5em;
        grid-auto-rows: minmax(30px, auto);
        grid-template-areas: "caption caption" "filters details" "data details";
        justify-content: center;
    }
}

.grid-container>.grid-item {
    border: 1px solid #CBCBFF;
    border-radius: 10px;
    background-color: #CBFFCB;
    padding: 5px 10px;
}

.grid-container>.grid-item-caption {
    grid-area: caption;
}

.grid-container>.grid-item-filters {
    grid-area: filters;
}

.grid-container>.grid-item-data {
    grid-area: data;
}

.grid-container>.grid-item-details {
    grid-area: details;
}

.items-table {
    border: 1px solid #CCC;
    border-collapse: collapse;
}

.items-table thead {
    color: #000;
    background-color: #FFFFCC;
}

.items-table tr {
    border-bottom: 1px solid #DDD;
}

.items-table td {
    cursor: pointer;
}

.items-table th, .items-table td {
    padding: 5px 8px;
    text-align: left;
}

.items-table th:nth-child(1), .items-table td:nth-child(1) {
    padding-left: 16px;
}

.items-table td:nth-child(1) {
    text-decoration: underline;
}

.items-table tbody tr:nth-child(odd) {
    background-color: #FFF;
}

.items-table tbody tr:nth-child(even) {
    background-color: #F1F1F1;
}

.items-table tbody tr.selected-row td {
    background-color: #FFFFCC;
}

td.table-cell-numeric {
    text-align: right;
}

.button-add, .button-add-disabled {
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

.button-add {
    background-color: #4CAF50;
    transition-duration: 0.4s;
}

.button-add-disabled {
    background-color: gray;
}

.button-add:hover {
    background-color: #FFFFCC;
    color: #000;
}

.common-bottom-space {
    margin-bottom: 5px;
}

.alert {
    padding: 20px;
    background-color: #CC0000; /* Red */
    color: white;
    margin-bottom: 15px;
}

.form-grid-container {
    display: grid;
    margin: 5px 0;
    grid-template-columns: 0.3fr 0.7fr;
    grid-gap: 0.5em;
}

fieldset {
    margin: 10px 0;
    border: 1px solid #A9A9A9;
}

fieldset.fieldset-address {
    position: relative;
}

fieldset.fieldset-address>div.fieldset-edit-box {
    position: absolute;
    background-color: white;
    padding: 3px 5px 5px;
    border: 1px solid #A9A9A9;
    top: -1px;
    right: -1px;
}

fieldset.fieldset-address>div.fieldset-edit-box span {
    color: #0099FF;
    border-bottom: 1px dashed #0099FF;
    cursor: pointer;
}

fieldset.fieldset-address>div.fieldset-edit-box span:hover {
    color: #000;
    border-bottom-color: #000;
}

.clear-both {
    clear: both;
}

span.validation-error {
    color: red;
}

div.validation-error {
    color: red;
}